* {
    padding:0;
    margin:0;
    box-sizing:content-box;
    font-size:12px;
}

li {
    list-style: none;
}


/*----- Start Nav -----*/
nav {
    height:100px;
    background: transparent;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}
nav .logo {
    width:fit-content;
    margin:50px 5vw 0 -150px;
}

nav .menu-bar {
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 1vw;
    z-index: 2;

}
nav .menu-bar .menu-list {
    width:fit-content;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    z-index: 2;
}
nav .menu-bar .menu-list li a {
    display: block;
    font-size:1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    letter-spacing: 0.4mm;
    text-decoration: none;
    color:#e9ded3;
    padding:7px 0px;
    margin:0 1.5vw;
    position:relative;
    overflow: hidden;
}

.menu-list li {
    display: inline-block;
    position: relative;
    color: #ffc200;
}

.menu-list li::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 4px;
bottom: -10px;
left: 0;
background-color: #ffc200;
transform-origin: bottom right;
transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-list li:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}





nav .menu-bar .search {
    width: 12vw;
    height:40px;
    position: relative;
    border-radius:5px;
    overflow-x: hidden;
    z-index: 2;
}
nav .menu-bar .search a {
    text-decoration: none;
    color:rgb(245, 240, 240);
    position:absolute;
    top:50%;
    right: 50%;
    transform: translate(0,-50%);
    transition:right 400ms linear;
}

nav .menu-bar .search a i {
    font-size:2rem;
}


/*----- End Nav -----*/

/*----- Start Header -----*/
header .images-bg img {
    position:absolute;
    z-index: 1;
    pointer-events: none;
}
header .images-bg .header-center {
    height:104.5%;
    width:26%;
    top:-4%;
    left:38.2%;
    transform: translate(-40%,0%);
    z-index: 1;
}
header .images-bg .t {
    width:105px;
    bottom:10%;
    right:35%;
}
header .images-bg .o {
    width:65px;
    bottom:25%;
    right:5%;
}
header .images-bg .c {
    width:85px;
    bottom:75%;
    right:15%;
}
header .images-bg .g {
    width:18px;
    bottom:5%;
    right:15%;
}
header .images-bg .g1 {
    width:20px;
    bottom:57%;
    right:50%;
    transform: rotateZ(40deg);
}
header .images-bg .l {
    width:85px;
    bottom:48%;
    right:61%;
}
header .images-bg .n {
    width:85px;
    bottom:30%;
    right:20%;
}
header .images-bg .n1 {
    width:50px;
    bottom:80%;
    right:35%;
    transform: rotateZ(-140deg);
}
header .images-bg .k-tl {
    width:30px;
    bottom:80%;
    right:56%;
    transform: rotateZ(50deg);
}
header .images-bg .k-tr {
    width:30px;
    bottom:65%;
    right:10%;
    transform: rotateZ(80deg);
}
header .images-bg .k-bl {
    width:30px;
    bottom:21%;
    right:58%;
}
header .images-bg .k-br {
    width:30px;
    bottom:15%;
    right:25%;
    transform: rotateZ(-30deg);

}

header {
    height:670px;
    width: 100%;
    background-color:#302f2f;
    background-image: url(images/header-bg.jpg);
    background-size:40% 100% ;
    background-position:left;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header .header-content {
    width: 53vw;
    height: 460px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    padding-bottom: 50px !important;
}
header .header-content .h-c  {
    max-width:700px;
}
header .header-content .h-c h1 {
    font-size:7rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 30px 0;
}header .header-content .h-c p {
    font-size:1.5rem;
    font-family:monospace;
    letter-spacing: 0.3mm;
    color:#e9ded3;
    margin:30px 20px 30px 0;
    max-width:670px ;
}
header .header-content .h-c .h-c-button {
    width:fit-content;
    font-family: monospace;
    background-color:#ffc200;
    border: 3px solid #ffc200;
    border-radius:3px;
    position: relative;
    margin:40px 0;
    overflow: hidden;
    z-index: 1;
}
header .header-content .h-c a {
    display: block;
    width:fit-content;
    font-size:1.8rem;
    font-weight:700;
    font-family: monospace;
    background-color:transparent;
    padding:7px 55px;
    color:#302f2f;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 5;
}


.h-c-button a {
    z-index: 1;
    position: relative;
}

.h-c-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    background-color: #c29b1d;
    opacity: 0;
    transition: 400ms linear;
}

.h-c-button:hover a {
    color: hsl(222, 100%, 95%);
}

.h-c-button:hover::before {
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

/*----- End Header -----*/


/*----- Start Part-1 -----*/
.seller {
    width:100%;
    height:100%;
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom:280px;
}
.seller .head {
    height:fit-content;
    max-width: 700px;
    text-align: center;
    margin:100px 10px 30px;
}
.seller .head h2{
    font-size:6rem;
    font-weight:500;
    font-family: 'Norican', cursive;
    color:#302f2f;
    margin:10px 0;
}
.seller .head p{
    font-size: 1.6rem;
    font-family: monospace;
    letter-spacing: 0.05mm;
    color:#302f2f;
    margin:0 30px;
}

.seller .seller-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.seller .seller-content .seller-product {
    width:300px;
    padding:0 10px;
    margin:10px 10px;
    text-align: center;
}
.seller .seller-content .seller-product img{
    width:200px;
    height: 290px;
    border-radius: 20px;
}
.seller .seller-content .seller-product h4{
    font-size:2.1rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    margin:5px 0;
}
.seller .seller-content .seller-product p{
    font-size:1.2rem;
    font-family: monospace;
    letter-spacing: 0.06mm;
}
/*----- End Part-1 -----*/


/*----- Start Part-2 -----*/
.taste {
    width:100%;
    height:1700px;
    display:flex;
    flex-direction: column;
    position:relative;
    margin-bottom:300px;
}
.taste .top-part .G2-top {
    width:100%;
    height:1200px;
    position:absolute;
    top:-9%;
    z-index: 1;
}
.taste .top-part {
    display: flex;
    flex-direction: row;
    width:100%;
}
.taste .top-part .image {
    width:50%;
    text-align: center;
    z-index: 2;
    margin-top: -100px;
}
.taste .top-part .image img {
    width:400px;
    border-radius: 50px;
}

.taste .top-part .top-content {
    padding-top: 50px;
    width:50%;
    z-index: 2;
}
.taste .top-part .top-content h3 {
    font-size: 6.5rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .top-part .top-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 550px;
    margin:40px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .top-part .top-content .tc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}

.taste .top-part .top-content .tc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}


.tc a {
    z-index: 1;
    position: relative;
}

.tc::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    background-color: #c29b1d;
    opacity: 0;
    transition: 400ms linear;
}

.tc:hover a {
    color: hsl(222, 100%, 95%);
}

.tc:hover::before {
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}






.taste .center-part img {
    position:absolute;
    opacity: 0.55;
}
.taste .center-part .t3 {
    width:100px;
    bottom:-5%;
    right:30%;
}
.taste .center-part .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.taste .center-part .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.taste .center-part .cb3 {
    width:80px;
    bottom:1%;
    left:28%;
    transform:rotate(60deg);
}
.taste .center-part .g3 {
    width:20px;
    bottom:-5%;
    right:12%;
}
.taste .center-part .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.taste .center-part .k-tl3 {
    width:30px;
    top:2%;
    left:25%;
}
.taste .center-part .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.taste .center-part .k-bl3 {
    width:30px;
    bottom:-7%;
    left:5%;
}
.taste .center-part {
    width: 100%;
    z-index: 5;
    padding:100px 0 80px;
    margin:50px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    background-color:#302f2f;
}
.taste .center-part .center-head {
    max-width: 900px;
    text-align: center;
}
.taste .center-part .center-head h2 {
    font-size: 6rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 10px 0;
}
.taste .center-part .center-head p {
    max-width:900px;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: aliceblue;
    padding:10px 40px;
}
.taste .center-part .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.taste .center-part .center-content div {
    display: flex;
    flex-direction: column;
    border:5px solid white;
    border-radius:100px;
    width: 170px;
    height: 170px;
    padding:7px;
    margin:30px;
    text-align: center;
    justify-content: center;

}
.taste .center-part .center-content .center-num {
    font-size: 3.5rem;
    color:#ffc200;
}
.taste .center-part .center-content b {
    font-size: 2rem;
    font-family: monospace;
    color: aliceblue;
    text-transform: uppercase;
}

.taste .bottom-part {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:120px;
}
.taste .bottom-part .G2-bottom {
    width:100%;
    height:1100px;
    position:absolute;
    bottom:-10%;
    z-index: -1;
}
.taste .bottom-part .bottom-image {
    width:50%;
    text-align: center;
    margin-top: -150px;
    z-index: 5;
}
.taste .bottom-part .bottom-image img {
    width: 400px;
    border-radius: 50px;
}
.taste .bottom-part .bottom-content {
    padding: 50px 0 0 150px !important;
    width:50%;
    z-index: 2;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 6.5rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .bottom-part .bottom-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 550px;
    margin:40px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .bottom-part .bottom-content .bc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}

.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.bc a {
    z-index: 1;
    position: relative;
}

.bc::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    background-color: #c29b1d;
    opacity: 0;
    transition: 400ms linear;
}

.bc:hover a {
    color: hsl(222, 100%, 95%);
}

.bc:hover::before {
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

/*----- End Part-2 -----*/


/*----- Start Part-3 -----*/
.lenora {
    width: 100%;
    height: 100vh;
    margin-top:120px;
    background-image: url(images/sewing-bg.jpg);
    background-position:0% 0%;
    background-size:100% 100%;
}
.lenora div {
    width:100%;
    height:100%;
    background-color:#e0ba0c69;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color:#302f2f;
}
.lenora div p {
    font-size: 2rem;
    font-family: monospace;
    max-width: 70%;
    color: #302f2f;
    margin:20px 10px;
}
.lenora div h3 {
    font-size: 5.5rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    max-width: 60%;
    color: #302f2f;
    margin:20px 10px;
}
/*----- End Part-3 -----*/


/*----- Start Part-4 -----*/
.subscribe img {
    position:absolute;
    opacity: 0.55;
}
.subscribe .t3 {
    width:100px;
    bottom:2%;
    right:30%;
}
.subscribe .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.subscribe .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.subscribe .cb3 {
    width:80px;
    bottom:10%;
    left:28%;
    transform:rotate(60deg);
}
.subscribe .g3 {
    width:20px;
    bottom:3%;
    right:12%;
}
.subscribe .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.subscribe .k-tl3 {
    width:30px;
    top:5%;
    left:25%;
}
.subscribe .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.subscribe .k-bl3 {
    width:30px;
    bottom:1%;
    left:5%;
}
.subscribe {
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#302f2f;
    position:relative;
}
.subscribe h3 {
    font-size: 5.5rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    margin:20px 10px;
    max-width: 60%;
}
.subscribe p {
    font-size: 2rem;
    font-family: monospace;
    margin:20px 10px;
    max-width: 70%;
}
.subscribe form {
    margin:50px 10px;
}
.subscribe form input[type="email"] {
    width:30vw;
    height: 40px;
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    font-family: monospace;
    padding:5px 20px;
    margin:0;
    color:#302f2f;
    outline-color: #ffc200;
}
.subscribe form input[type="submit"] {
    width:200px;
    height: 40px;
    cursor: pointer;
    border: 3px solid #ffc200;
    border-radius: 5px;
    background-color: #ffc200;
    color:#302f2f;
    padding:5px 10px;
    margin:0;
    font-size: 2rem;
    font-family: monospace;
    transition:box-shadow 200ms linear;
}
.subscribe form input[type="submit"]:hover {
    box-shadow: 0px 0px 7px 1px #ffc200;
}
/*----- End Part-4 -----*/


/*----- Start Footer -----*/
#footer {
    width:100%;
    display:flex;
    flex-direction:row;
    background-color:#444141;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    position:relative;
    margin-top: 50px;
} 
#footer .title {
    background-color:rgb(85, 85, 85)
}
#footer .title #co {
    width:400px;
    display: flex;
    flex-direction: column;
    padding:30px 30px 30px 50px;
}
#footer .title #co img {
    width: 300px;
    margin:10px;
}
#footer .title #co p {
    font-size:1.4rem;
    font-weight:100;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title #co ul {
    display:flex;
    flex-direction:row;
}
#footer .title #co ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    border-radius:510px;
}
#footer .title #co ul li a i {
    font-size:1.9rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #d6d2d2;
}
#footer .title #co ul li a i:hover {
    color: #131212;
}
#nome {
    width: 100%;
    background-color: #131212;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:-10px;
    border-top: 2px solid rgb(173, 173, 173);
    padding:10px 0;
}
#nome p {
    color: rgb(194, 190, 190);
    font-size:1rem;
    font-family: sans-serif;
    margin-top: -10px;
}
#nome p a {
    font-size:1.2rem;
    color: rgba(255, 255, 255, 0.801);
    font-family: 'Yellowtail', cursive;
    letter-spacing: 0.5mm;
}

#footer .footer-container {
    width:970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin:60px auto 0;
}
#footer .about {
    width: 270px;
    height:200px;
    padding:0px 5px 10px 20px;
}
#footer .about h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .about ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .about ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .about ul li a span {
    transition:padding 300ms linear;
}
#footer .about ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .about ul li a i {
    font-size: 0.7rem;
}
#footer .about ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .about ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}

#footer .service {
    width: 250px;
    height:200px;
    padding:0px 5px 20px 20px;
}
#footer .service h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .service ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .service ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .service ul li a span {
    transition:padding 300ms linear;
}
#footer .service ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .service ul li a i {
    font-size: 0.7rem;
}
#footer .service ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .service ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


#footer .other {
    width: 200px;
    height:200px;
    padding:0px 10px 20px 20px;
}
#footer .other h4 {
    font-size:1.9rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .other ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .other ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .other ul li a span {
    transition:padding 300ms linear;
}
#footer .other ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .other ul li a i {
    font-size: 0.7rem;
}
#footer .other ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .other ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


/*----- End Footer -----*/

@media (max-width:760px) {
    #footer {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer .title {
        width:100%;
        display: flex;
        flex-direction: column;
        padding:10px 0px 10px 0;
    }
    #footer .title #co {
        margin:0 auto;
    }
    #footer .title #co ul {
        margin:0 auto;
    }

}
@media (max-width:540px) {
    

    #footer .title #co {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 50px 10px 30px 20px;
    }
    

#footer .title p {
    font-size:1rem;
    font-weight:100;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title ul {
    display:flex;
    flex-direction:row;
}
#footer .title ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    border-radius:510px;
}
#footer .title ul li a i {
    font-size:1.4rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #0f235a;
}
}


@media (max-width:420px) {
    #footer .title #co img{
        width:200px;
        margin:0 auto;
    }
    #nome p {
        font-size:0.9rem;
    }
    #nome p a {
        font-size:1.05rem;
    }
}
@media (max-width:290px) {

    #nome p {
        font-size:0.8rem;
    }
    #nome p a {
        font-size:0.95rem;
    }
    #footer .title p {
        font-size:0.85rem;
        font-weight:100;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.3mm;
        color: rgb(255, 255, 255);
        margin:20px 10px 30px;
    }
    #footer .title #co ul {
        padding:0;
    }

    #footer .title ul li {
        width:40px;
        height:40px;
        margin:0 10px;
    }
    #footer .title ul li a i {
        font-size:1.4rem;
        padding:10px;
    }
    
} 

/*----- End Footer -----*/
































































@media (max-width:2040px){
    nav .menu-bar .menu-list li a {
        font-size:2rem;
        margin:0 3vw;
    }

    header {
        height:100vh;
        background-size:42% 100% ;
    }
    
    header .header-content {
        width: 53vw;
        height: fit-content;
        padding-bottom:100px;
        margin:auto 0;
    }
    header .header-content .h-c h1 {
        font-size:9rem;
    }
    header .header-content .h-c p {
        font-size:3rem;
    }
    
    .taste .bottom-part .bottom-content {
        padding: 0px 0 0 280px;
        width:50%;
        z-index: 2;
        margin-top: -50px;
    }
    .taste .bottom-part .bottom-content h3 {
        font-size: 6.5rem;
        font-family: 'Norican', cursive;
        font-weight:500;
        color:#ffc200;
    }
    .taste .bottom-part .bottom-content p {
        font-size: 1.8rem;
        font-family: monospace;
        max-width: 550px;
        margin:40px 20px 40px 0;
        color:rgb(247, 243, 243);
        letter-spacing: 0.3mm;
    }
    .taste .bottom-part .bottom-content .bc {
        width: fit-content;
        border:3px solid #ffc200;
        border-radius: 3px;
        background-color: #ffc200;
        position:relative;
        overflow: hidden;
        z-index: 1;
    }
}

@media (max-width:1510px){
    nav .logo {
        width:fit-content;
        margin:50px 5vw 0 -4vw;
    }
}

@media (min-width:1400px) {
    .taste .bottom-part .bottom-content {
        margin-right: -20vw;
    }
}

@media (max-width:1440px){

    header .header-content {
        padding-bottom:150px;
    }

    header .header-content .h-c h1 {
        font-size:8.5rem;
    }
    header .header-content .h-c p {
        font-size:2.5rem;
    }
}

@media (max-width:1200px){
    nav .logo {
        width:300px;
        margin:50px 5vw 0 -3vw;
    }
    nav .logo a img {
        width:100%;
    }

    header .header-content .h-c h1 {
        font-size:7.2rem;
    }
    header .header-content .h-c p {
        font-size:2rem;
    }
}

@media (max-width:1024px) {
    nav .logo {
        width:250px;
        margin:50px 5vw 0 -10vw;
    }
    nav .logo a img {
        width:100%;
    }
    nav .menu-bar .menu-list li a {
        font-size:1.5rem;
        margin:0 0.8vw;
    }

    header {
        height:750px;
        background-size:42% 100% ;
    }
    header .header-content .h-c h1 {
        font-size:7rem;
    }
    

    
/*----- Start Part-2 -----*/
.taste {
    width:100%;
    height:1700px;
    display:flex;
    flex-direction: column;
    position:relative;
}
.taste .top-part .G2-top {
    width:100%;
    height:1300px;
    position:absolute;
    top:-9%;
    z-index: 1;
}
.taste .top-part {
    display: flex;
    flex-direction: row;
    width:100%;
}
.taste .top-part .image {
    width:50%;
    text-align: center;
    z-index: 2;
}
.taste .top-part .image img {
    width:350px;
    border-radius: 50px;
}

.taste .top-part .top-content {
    padding-top: 50px;
    width:50%;
    z-index: 2;
}
.taste .top-part .top-content h3 {
    font-size: 6.5rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .top-part .top-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 550px;
    margin:40px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .top-part .top-content .tc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .top-part .top-content .tc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .top-part .top-content .tc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .top-part .top-content .tc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.taste .center-part img {
    position:absolute;
    opacity: 0.55;
}
.taste .center-part .t3 {
    width:100px;
    bottom:-5%;
    right:30%;
}
.taste .center-part .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.taste .center-part .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.taste .center-part .cb3 {
    width:80px;
    bottom:1%;
    left:28%;
    transform:rotate(60deg);
}
.taste .center-part .g3 {
    width:20px;
    bottom:-5%;
    right:12%;
}
.taste .center-part .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.taste .center-part .k-tl3 {
    width:30px;
    top:2%;
    left:25%;
}
.taste .center-part .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.taste .center-part .k-bl3 {
    width:30px;
    bottom:-7%;
    left:5%;
}
.taste .center-part {
    width: 100%;
    z-index: 5;
    padding:100px 0 40px;
    margin:50px 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.taste .center-part .center-head {
    max-width: 900px;
    text-align: center;
}
.taste .center-part .center-head h2 {
    font-size: 6rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 10px 0;
}
.taste .center-part .center-head p {
    max-width:900px;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: aliceblue;
    padding:10px 40px;
}
.taste .center-part .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.taste .center-part .center-content div {
    display: flex;
    flex-direction: column;
    border:5px solid white;
    border-radius:100px;
    width: 160px !important;
    height: 160px !important;
    padding:7px;
    margin:20px;
    text-align: center;
    justify-content: center;

}
.taste .center-part .center-content .center-num {
    font-size: 3rem;
    color:#ffc200;
}
.taste .center-part .center-content b {
    font-size: 2rem;
    font-family: monospace;
    color: aliceblue;
    text-transform: uppercase;
}

.taste .bottom-part {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:120px;
}
.taste .bottom-part .G2-bottom {
    width:100%;
    height:1000px;
    position:absolute;
    bottom:-5%;
    z-index: -1;
}
.taste .bottom-part .bottom-image {
    width:50%;
    text-align: center;

}
.taste .bottom-part .bottom-image img {
    width: 350px;
    margin-bottom: -700px;
}
.taste .bottom-part .bottom-content {
    padding: 50px 0 0 100px !important;
    width:50%;
    z-index: 2;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 6.2rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .bottom-part .bottom-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 550px;
    margin:40px 15px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .bottom-part .bottom-content .bc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .bottom-part .bottom-content .bc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
/*----- End Part-2 -----*/
}


@media (max-width:855px) {
    nav .logo {
        width:220px;
        margin:50px 5vw 0 -7vw;
    }
    nav .logo a img {
        width:100%;
    }
    nav .menu-bar .search {
        width: 12vw;
        height:35px;
    }

    nav .menu-bar .search a i {
        font-size:1.8rem;
    }

/*----- Start Part-2 -----*/
.taste {
    width:100%;
    height:1800px;
    display:flex;
    flex-direction: column;
    position:relative;
}
.taste .top-part .G2-top {
    width:100%;
    height:1300px;
    position:absolute;
    top:-9%;
    z-index: 1;
}
.taste .top-part {
    display: flex;
    flex-direction: row;
    width:100%;
}
.taste .top-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
}
.taste .top-part .image img {
    width:300px;
    border-radius: 50px;
    margin-left: 10px;
}

.taste .top-part .top-content {
    padding-top: 10px;
    width:60%;
    z-index: 2;
    margin:0 0 0 60px;
}
.taste .top-part .top-content h3 {
    font-size: 9vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .top-part .top-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 750px;
    margin:20px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .top-part .top-content .tc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .top-part .top-content .tc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .top-part .top-content .tc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .top-part .top-content .tc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.taste .center-part img {
    position:absolute;
    opacity: 0.55;
}
.taste .center-part .t3 {
    width:100px;
    bottom:-5%;
    right:30%;
}
.taste .center-part .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.taste .center-part .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.taste .center-part .cb3 {
    width:80px;
    bottom:1%;
    left:28%;
    transform:rotate(60deg);
}
.taste .center-part .g3 {
    width:20px;
    bottom:-5%;
    right:12%;
}
.taste .center-part .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.taste .center-part .k-tl3 {
    width:30px;
    top:2%;
    left:25%;
}
.taste .center-part .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.taste .center-part .k-bl3 {
    width:30px;
    bottom:-7%;
    left:5%;
}
.taste .center-part {
    width: 100%;
    z-index: 5;
    padding:100px 0 40px;
    margin:50px 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.taste .center-part .center-head {
    max-width: 900px;
    text-align: center;
}
.taste .center-part .center-head h2 {
    font-size: 6rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 10px 0;
}
.taste .center-part .center-head p {
    max-width:900px;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: aliceblue;
    padding:10px 40px;
}
.taste .center-part .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.taste .center-part .center-content div {
    display: flex;
    flex-direction: column;
    border:5px solid white;
    border-radius:100px;
    width: 150px;
    height: 150px;
    padding:7px;
    margin:20px;
    text-align: center;
    justify-content: center;

}
.taste .center-part .center-content .center-num {
    font-size: 3rem;
    color:#ffc200;
}
.taste .center-part .center-content b {
    font-size: 2rem;
    font-family: monospace;
    color: aliceblue;
    text-transform: uppercase;
}

.taste .bottom-part {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:120px;
}
.taste .bottom-part .G2-bottom {
    width:100%;
    height:1200px;
    position:absolute;
    bottom:-10%;
    z-index: -1;
}
.taste .bottom-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
}
.taste .bottom-part .bottom-image img {
    width:300px;
    border-radius: 50px;
    margin-right: 10px;
}

.taste .bottom-part .bottom-content {
    padding-top: 0px;
    width:60%;
    z-index: 2;
    margin:0 30px 0 0px;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 9vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .bottom-part .bottom-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 750px;
    margin:20px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .bottom-part .bottom-content .bc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .bottom-part .bottom-content .bc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
/*----- End Part-2 -----*/

.subscribe form input[type="email"] {
    width:30vw;
    height: 40px;
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    font-family: monospace;
    padding:5px 20px;
    margin:0;
    color:#302f2f;
    outline-color: #ffc200;
}
.subscribe form input[type="submit"] {
    width:160px;
    height: 40px;
    cursor: pointer;
    border: 3px solid #ffc200;
    border-radius: 5px;
    background-color: #ffc200;
    color:#302f2f;
    padding:5px 10px;
    margin:0;
    font-size: 2rem;
    font-family: monospace;
    transition:box-shadow 200ms linear;
}

}

@media (max-width:768px) {
    .lenora {
        width: 100%;
        height: 680px;
        margin-top:120px;
        background-image: url(images/sewing-mobil-bg.jpg);
        background-position:0% 70%;
        background-size:100% 130%;
    }
    nav .menu-bar .search {
        width: 10vw;
        height:30px;
    }
    nav .menu-bar .search a i {
        font-size:1.3rem;
    }
    
nav .menu-bar .menu-list li a {
    font-size:2.5vw;
}

nav .logo {
    width:190px;
    margin:50px 5vw 0 -10vw;
}

header .images-bg .t {
    width:78px;
    bottom:3%;
    right:35%;
}
header .images-bg .o {
    width:45px;
    bottom:20%;
    right:4%;
}
header .images-bg .c {
    width:65px;
    bottom:75%;
    right:15%;
}
header .images-bg .g {
    width:11px;
    bottom:5%;
    right:15%;
}
header .images-bg .l {
    width:62px;
    bottom:48%;
    right:58%;
}
header .images-bg .k-tl {
    width:18px;
    bottom:80%;
    right:56%;
}
header .images-bg .k-tr {
    width:18px;
    bottom:65%;
    right:10%;
}
header .images-bg .k-bl {
    width:18px;
    bottom:21%;
    right:58%;
}
header .images-bg .k-br {
    width:18px;
    bottom:15%;
    right:25%;
}
header {
    height:550px;
    width: 100%;
    background-color:#302f2f;
    background-image: url(images/header-bg.jpg);
    background-size:40% 100% ;
    background-position:left;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header .header-content {
    width: 53vw;
    height: 460px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
}
header .header-content .h-c  {
}
header .header-content .h-c h1 {
    font-size:10.5vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 20px 0;
}
header .header-content .h-c p {
    font-size:3vw;
    font-family:monospace;
    letter-spacing: 0.3mm;
    color: white;
    margin:10px 20px 30px 0;
    max-width:650px ;
}
header .header-content .h-c .h-c-button {
    width:fit-content;
    font-family: monospace;
    background-color:#ffc200;
    border: 3px solid #ffc200;
    border-radius:3px;
    position: relative;
    margin:30px 0;
    overflow: hidden;
    z-index: 1;
}
header .header-content .h-c a {
    display: block;
    width:fit-content;
    font-size:1.6rem;
    font-weight:700;
    font-family: monospace;
    background-color:transparent;
    padding:6px 35px;
    color:#302f2f;
    text-decoration: none;
    text-transform: uppercase;
}
header .header-content .h-c .h-c-button::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
header .header-content .on-h .h-c-button::after {
    height:300px;
    width:300px;
    z-index: -4;
}
/*----- End Header -----*/

/*----- Start Part-2 -----*/
.taste {
    width:100%;
    height:1750px;
    display:flex;
    flex-direction: column;
    position:relative;
}
.taste .top-part .G2-top {
    width:100%;
    height:196vw;
    position:absolute;
    top:-9%;
    z-index: 1;
}
.taste .top-part {
    display: flex;
    flex-direction: row;
    width:100%;
}
.taste .top-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
    margin-left: 10px;
}
.taste .top-part .image img {
    width:45vw;
    border-radius: 50px;
    margin-left: 10px;
}

.taste .top-part .top-content {
    padding-top: 10px;
    width:50%;
    z-index: 2;
    margin:0 0 0 60px;
}
.taste .top-part .top-content h3 {
    font-size: 8vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .top-part .top-content p {
    font-size: 3vw;
    font-family: monospace;
    max-width: 750px;
    margin:20px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .top-part .top-content .tc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .top-part .top-content .tc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .top-part .top-content .tc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .top-part .top-content .tc a {
    color: #302f2f;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 40px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.taste .center-part img {
    position:absolute;
    opacity: 0.55;
}
.taste .center-part .t3 {
    width:100px;
    bottom:-5%;
    right:30%;
}
.taste .center-part .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.taste .center-part .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.taste .center-part .cb3 {
    width:80px;
    bottom:1%;
    left:28%;
    transform:rotate(60deg);
}
.taste .center-part .g3 {
    width:20px;
    bottom:-5%;
    right:12%;
}
.taste .center-part .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.taste .center-part .k-tl3 {
    width:30px;
    top:2%;
    left:25%;
}
.taste .center-part .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.taste .center-part .k-bl3 {
    width:30px;
    bottom:-7%;
    left:5%;
}
.taste .center-part {
    width: 100%;
    z-index: 5;
    padding:100px 0 40px;
    margin:50px 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.taste .center-part .center-head {
    max-width: 900px;
    text-align: center;
}
.taste .center-part .center-head h2 {
    font-size: 6rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 10px 0;
}
.taste .center-part .center-head p {
    max-width:900px;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: aliceblue;
    padding:10px 40px;
}
.taste .center-part .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.taste .center-part .center-content div {
    display: flex;
    flex-direction: column;
    border:5px solid white;
    border-radius:100px;
    width: 150px;
    height: 150px;
    padding:7px;
    margin:20px;
    text-align: center;
    justify-content: center;

}
.taste .center-part .center-content .center-num {
    font-size: 3rem;
    color:#ffc200;
}
.taste .center-part .center-content b {
    font-size: 2rem;
    font-family: monospace;
    color: aliceblue;
    text-transform: uppercase;
}

.taste .bottom-part {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:120px;
}

.taste .bottom-part .G2-bottom {
    width:100%;
    height:1200px;
    position:absolute;
    bottom:-15%;
    z-index: -1;
}

.taste .bottom-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
}

.taste .bottom-part .bottom-image img {
    width:45vw;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: -610px;
}

.taste .bottom-part .bottom-content {
    padding-top: 0px;
    padding-left: 20px !important;
    width:60%;
    z-index: 2;
    margin:0 10px 0 0px;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 8vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .bottom-part .bottom-content p {
    font-size: 3vw;
    font-family: monospace;
    max-width: 750px;
    margin:20px 0px 30px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .bottom-part .bottom-content .bc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .bottom-part .bottom-content .bc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 40px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
/*----- End Part-2 -----*/
.lenora {
    height:fit-content;
}
.lenora div {
    padding-top: 50px;
}
.lenora div p {
    font-size: 2.2rem;
}

.subscribe form {
    margin:50px 10px;
}
.subscribe form input[type="email"] {
    width:30vw;
    height: 35px;
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    font-family: monospace;
    padding:5px 20px;
    margin:0;
    color:#302f2f;
    outline-color: #ffc200;
}
.subscribe form input[type="submit"] {
    width:130px;
    height: 35px;
    cursor: pointer;
    border: 3px solid #ffc200;
    border-radius: 5px;
    background-color: #ffc200;
    color:#302f2f;
    padding:5px 10px;
    margin:0;
    font-size: 2rem;
    font-family: monospace;
    transition:box-shadow 200ms linear;
}
}

@media (max-width:720px) {
    nav .logo {
        width:180px;
        margin:50px 5vw 0 -10vw;
    }

}
@media (max-width:633px) {
    nav .logo {
        width:160px;
        margin:50px 5vw 0 -9vw;
    }
    .taste .top-part .top-content {
        margin-top: -100px;
    }
    nav .menu-bar .menu-list li a {
        font-size:2.9vw;
    }
}
@media (max-width:530px) {
    
nav {
    height:100px;
    background: transparent;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav .logo {
    width:fit-content;
    margin:0 5vw;
}
nav .logo img {
    width:25vw
}
nav .menu-bar {
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 1vw;
    z-index: 2;
    width: 60%;
}


nav .menu-bar .search {
    width: 12vw;
    height:30px;
    position: relative;
    border-radius:5px;
    overflow-x: hidden;
    z-index: 2;
}
nav .menu-bar .search a {
    text-decoration: none;
    color:rgb(245, 240, 240);
    position:absolute;
    top:50%;
    right: 40%;
    transform: translate(0,-50%);
    transition:right 400ms linear;
}
nav .menu-bar .search-on a {
    right: 5%;
}
nav .menu-bar .search a i {
    font-size:2rem;
}


/*----- End Nav -----*/

header {
    height:450px;
}

/*----- Start Part-2 -----*/
.taste {
    width:100%;
    height:1500px;
    display:flex;
    flex-direction: column;
    position:relative;
}
.taste .top-part .G2-top {
    width:100%;
    height:73vh;
    position:absolute;
    top:-9%;
    z-index: 1;
}
.taste .top-part {
    display: flex;
    flex-direction: row;
    width:100%;
}
.taste .top-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
    margin-left: 10px;
}
.taste .top-part .image img {
    width:45vw;
    border-radius: 50px;
    margin-left: 10px;
}

.taste .top-part .top-content {
    padding-top: 10px;
    width:50%;
    z-index: 2;
}
.taste .top-part .top-content h3 {
    font-size: 8vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .top-part .top-content p {
    font-size: 3vw;
    font-family: monospace;
    max-width: 100%;
    margin:20px -10px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .top-part .top-content .tc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .top-part .top-content .tc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .top-part .top-content .tc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .top-part .top-content .tc a {
    color: #302f2f;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    padding:5px 25px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.taste .center-part img {
    position:absolute;
    opacity: 0.55;
}
.taste .center-part .t3 {
    width:100px;
    bottom:-5%;
    right:30%;
}
.taste .center-part .o3 {
    width:75px;
    bottom:15%;
    right:3%;
}
.taste .center-part .ct3 {
    width:90px;
    top:5%;
    right:20%;
}
.taste .center-part .cb3 {
    width:80px;
    bottom:1%;
    left:28%;
    transform:rotate(60deg);
}
.taste .center-part .g3 {
    width:20px;
    bottom:-5%;
    right:12%;
}
.taste .center-part .l3 {
    width:80px;
    left:5%;
    top:25%;
}
.taste .center-part .k-tl3 {
    width:30px;
    top:2%;
    left:25%;
}
.taste .center-part .k-cr3 {
    width:30px;
    top:35%;
    right:7%;
}
.taste .center-part .k-bl3 {
    width:30px;
    bottom:-7%;
    left:5%;
}
.taste .center-part {
    width: 100%;
    z-index: 5;
    padding:100px 0 40px;
    margin:50px 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.taste .center-part .center-head {
    max-width: 900px;
    text-align: center;
}
.taste .center-part .center-head h2 {
    font-size: 6rem;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    margin:0 0 10px 0;
}
.taste .center-part .center-head p {
    max-width:900px;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: aliceblue;
    padding:10px 40px;
}
.taste .center-part .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.taste .center-part .center-content div {
    display: flex;
    flex-direction: column;
    border:5px solid white;
    border-radius:100px;
    width: 130px;
    height: 130px;
    padding:5px;
    margin:10px;
    text-align: center;
    justify-content: center;

}
.taste .center-part .center-content .center-num {
    font-size: 3rem;
    color:#ffc200;
}
.taste .center-part .center-content b {
    font-size: 1.8rem;
    font-family: monospace;
    color: aliceblue;
    text-transform: uppercase;
}

.taste .bottom-part {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top:120px;
}
.taste .bottom-part .G2-bottom {
    width:100%;
    height:73vh;
    position:absolute;
    bottom:-15%;
    z-index: -1;
}
.taste .bottom-part .image {
    width:40%;
    text-align: center;
    z-index: 2;
}
.taste .bottom-part .bottom-image img {
    width:45vw;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: -500px !important;
}

.taste .bottom-part .bottom-content {
    padding-top: 0px;
    width:60%;
    z-index: 2;
    margin:0 10px 0 0px;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 8vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
}
.taste .bottom-part .bottom-content p {
    font-size: 3vw;
    font-family: monospace;
    max-width: 750px;
    margin:20px 0px 30px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
}
.taste .bottom-part .bottom-content .bc {
    width: fit-content;
    border:3px solid #ffc200;
    border-radius: 3px;
    background-color: #ffc200;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.taste .bottom-part .bottom-content .bc::after {
    content: "";
    position: absolute;
    background-color:#cfa416;
    height:0px;
    width:0px;
    border-radius:100px;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    transition:400ms linear;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc-on::after {
    height:300px;
    width:300px;
    z-index: -4;
}
.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    padding:5px 25px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
/*----- End Part-2 -----*/



/*----- Start Part-3 -----*/

.lenora div {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color:#302f2f;
}
.lenora div p {
    max-width: 85%;
}
.lenora div h3 {
    font-size: 5rem;
    max-width: 90%;
    margin:20px 7px;
}
/*----- End Part-3 -----*/

    

}

@media (max-width:470px) {
    .taste {
        margin-bottom: 200vw;
        margin-top: 200px;
    }

    .taste .top-part .G2-top {
        width:100%;
        height:1000px;
        position:absolute;
        top:-20%;
        z-index: 1;
    }
    .taste .top-part {
        display: flex;
        flex-direction: column;
        width:100%;
        margin-top: -250px;
    }
    .taste .top-part .image {
        width:97vw;
        text-align: center;
        z-index: 2;
        margin-bottom: 0px;
    }
    .taste .top-part .image img {
        margin-bottom: 0px !important;

    }
    
    .taste .top-part .top-content {
        padding: 10px 0 0 0px !important;
        width:100%;
        z-index: 2;
        margin: 0;
    }
    .taste .top-part .top-content h3 {
        font-size: 20vw;
        font-family: 'Norican', cursive;
        font-weight:500;
        color:#ffc200;
        padding:0 30px;
        text-align: center;
    }
    .taste .top-part .top-content p {
        font-size: 1.8rem;
        font-family: monospace;
        max-width: 550px;
        margin:40px 20px 40px 0;
        color:rgb(247, 243, 243);
        letter-spacing: 0.3mm;
        padding:0 20px;
    }
    .taste .top-part .top-content .tc {
        margin: 0 auto;
    }
    
    .taste .top-part .top-content .tc a {
        color: #302f2f;
        font-size: 1.7rem;
        font-family: monospace;
        font-weight: 700;
        padding:7px 55px;
        background-color: transparent;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }



    .top-part {
        flex-direction: column;
    }
    .taste .bottom-part {
        width:100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top:50px;
    }
    
.taste .bottom-part .G2-bottom {
    width:100%;
    height:250vw;
    position:absolute;
    bottom:-40%;
    z-index: -1;
}
.taste .bottom-part .bottom-image {
    width:99vw;
    text-align: center;
    margin-top: 50px;
    z-index: 5;
}
.taste .bottom-part .bottom-image img {
    margin-bottom: 0px !important;
}
.taste .bottom-part .bottom-content {
    padding: 10px 0 0 0px !important;
    width:100%;
    z-index: 2;
}
.taste .bottom-part .bottom-content h3 {
    font-size: 20vw;
    font-family: 'Norican', cursive;
    font-weight:500;
    color:#ffc200;
    padding:0 30px;
    text-align: center;
}
.taste .bottom-part .bottom-content p {
    font-size: 1.8rem;
    font-family: monospace;
    max-width: 550px;
    margin:40px 20px 40px 0;
    color:rgb(247, 243, 243);
    letter-spacing: 0.3mm;
    padding:0 20px;
}
.taste .bottom-part .bottom-content .bc {
    margin: 0 auto;
}

.taste .bottom-part .bottom-content .bc a {
    color: #302f2f;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 700;
    padding:7px 55px;
    background-color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
}

@media (max-width:399px) {
    .taste {
        margin-bottom: 300vw;
    }
    .taste .bottom-part .G2-bottom {
        width:100%;
        height:280vw;
        position:absolute;
        bottom:-70%;
        z-index: -1;
    }
}