* {
    padding:0;
    margin:0;
    box-sizing:content-box;
    font-size:12px;
}

li {
    list-style: none;
}
body {
    background: url(images/page-pattern.png);
}

#gallery-img {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
    padding:5px;
}
#gallery-img img:hover {
    filter:none;
}
#gallery-img img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}
@media (max-width: 1200px) {
    #gallery-img {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
}
@media (max-width: 1000px) {
    #gallery-img {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
}
@media (max-width: 1000px) {
    #gallery-img {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
}
@media (max-width: 400px) {
    #gallery-img {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
}

/*----- Start Nav -----*/
nav {
    height:fit-content;
    background: transparent;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    background-color: #f5c527;
}
nav .logo {
    width:fit-content;
    margin:0px 5vw 0 -50px;
}

nav .menu-bar {
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 1vw;
    z-index: 2;

}
nav .menu-bar .menu-list {
    width:fit-content;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    z-index: 2;
}
nav .menu-bar .menu-list li a {
    display: block;
    font-size:1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    letter-spacing: 0.4mm;
    text-decoration: none;
    color:#1a1918;
    padding:7px 0px;
    margin:0 1.5vw;
    position:relative;
    overflow: hidden;
}

.menu-list li {
    display: inline-block;
    position: relative;
    color: #ffc200;
}

.menu-list li::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 4px;
bottom: -10px;
left: 0;
background-color: #1a1918;
transform-origin: bottom right;
transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-list li:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}





nav .menu-bar .search {
    width: 12vw;
    height:40px;
    position: relative;
    border-radius:5px;
    overflow-x: hidden;
    z-index: 2;
}
nav .menu-bar .search a {
    text-decoration: none;
    color:#1a1918;
    position:absolute;
    top:50%;
    right: 50%;
    transform: translate(0,-50%);
    transition:right 400ms linear;
}
nav .menu-bar .search-on a {
    right: 5%;
}
nav .menu-bar .search a i {
    font-size:2rem;
}
/*----- End Nav -----*/



.contact {
    width: 100%;
    height: 600px;
    background-color: #f5c527;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin:200px 0 150px;
    position:relative;
    z-index: 1;
}

.contact .contact-form {
    width: 450px;
    height: 800px;
    background-color: #131212;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -100px;
    padding:70px 50px 0;
}
.contact .contact-form h3 {
    font-size: 1.2rem;
    color: rgb(134, 134, 134);
    font-family: 'Nunito', sans-serif;
    margin-left: 50px;
    align-self: flex-start;
    border-bottom:3px;
    border-bottom-color: rgb(158, 158, 158);
    border-bottom-style: solid;
    text-align:left;
    margin-bottom:50px;
}
.contact .contact-form h2 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    margin-bottom:20px;
}
.contact .contact-form form input[name="full-name"], .contact .contact-form form input[name="email"] {
    width: 40%;
}
.contact .contact-form form input[name="email"] {
    background:#1f1f1f;
    color:white;
    border:none;
    border-bottom: 2px solid gray;
    border-radius: 0;
}
.contact .contact-form form input {
    font-size: 1rem;
    width: 88%;
    margin:10px 5px;
    padding:13px 13px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.contact .contact-form form textarea {
    background:#1f1f1f;
    color:white;
    border:none;
    border-bottom: 2px solid gray;
    font-size: 1.3rem;
    width: 88%;
    height: 150px;
    margin:10px 5px;
    padding:13px 13px;
    outline: none;
}
.contact .contact-form form input[name="submit"] {
    width: 60%;
    margin:20px 0 0 auto;
    display: block;
    font-weight: 700;
    cursor: pointer;
    transition: background 220ms linear;
}
.contact .contact-form form input[name="submit"]:hover {
    background: #f5c527;
}

.contact .touch {
    width: 78%;
    height: 150px;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: -200px;
    margin-left: -70px ;
}
.contact .touch div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact .touch div i {
    font-size: 2rem;
    color: #002d42;
    margin:0 5px;
}
.contact .touch div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0 10px;
}
.contact .touch div div h6 {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    color: gray;
}
.contact .touch div div a {
    color:#3d5596;
    font-family: 'Nunito', sans-serif;
}

@media (max-width:1200px) {
    .contact .touch {
        width: 75%;
        height: 150px;
        margin-bottom: -200px;
        margin-left: -80px ;
    }
}
@media (max-width:1050px) {
    .contact {
        height: 580px;
    }
    .contact .contact-form {
        width: 400px;
        height: 800px; 
        margin-left: 100px;
        margin-top: -100px;
        padding:70px 50px 0;
    }

    .contact .touch {
        width: 70%;
        height: fit-content;
        margin-bottom: -200px;
        margin-left: -120px ;
    }
    .contact .touch div {
        margin:10px 0;
        
    }
    .contact .touch div i {
        font-size: 1.5rem;
        color: #002d42;
        margin:0 5px;
    }
    .contact .touch div div h6 {
        font-size: 0.7rem;
        font-family: 'Nunito', sans-serif;
        margin: 5px;
        color: gray;
    }
}
@media (max-width:1000px) {
    .contact {
        height: 580px;
        align-items: center;
    }
    .contact .contact-form {
        width: 400px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 50px 0;
    }

    .contact .touch {
        width: 50%;
        flex-direction: column;
        margin-bottom: -200px;
        margin-left: 0px ;
        align-items: center;
    }
    .contact .touch div i {
        font-size: 1.5rem;
        color: #002d42;
        margin:0 5px;
    }
    .contact .touch div div h6 {
        font-size: 0.7rem;
        font-family: 'Nunito', sans-serif;
        margin: 5px;
        color: gray;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
}
@media (max-width:800px) {

    .contact .contact-form {
        width: 390px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 50px 0;
    }
    .contact .contact-form h3 {
        font-size: 1.1rem;
    }
    .contact .contact-form h2 {
        font-size: 1.8rem;  
    }
}
@media (max-width:700px) {
    .contact .contact-form {
        width: 350px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 50px 0;
    }
    .contact .contact-form h3 {
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .contact .contact-form h2 {
        font-size: 1.7rem;  
    }
    .contact .contact-form form input[name="full-name"], .contact .contact-form form input[name="email"] {
        width: 35%;
    }
    .contact .contact-form form input[name="email"] {
        background:#1f1f1f;
        color:white;
        border:none;
        border-bottom: 2px solid gray;
        border-radius: 0;
    }
    .contact .contact-form form input {
        font-size: 0.88rem;
        width: 84%;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
        border: none;
        border-radius: 4px;
    }
    .contact .contact-form form textarea {
        width: 84%;
        height: 150px;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
    }
    .contact .touch {
        width: 50%;
        flex-direction: column;
        margin-bottom: -200px;
        padding-left: 10px;
    }
}
@media (max-width:550px) {
    .contact .contact-form {
        width: 320px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 50px 0;
    }
    .contact .contact-form h3 {
        font-size: 0.9rem;
        margin-left: 10px;
    }
    .contact .contact-form h2 {
        font-size: 1.5rem;  
    }
    .contact .contact-form form input[name="full-name"], .contact .contact-form form input[name="email"] {
        width: 35%;
    }
    .contact .contact-form form input[name="email"] {
        background:#1f1f1f;
        color:white;
        border:none;
        border-bottom: 2px solid gray;
        border-radius: 0;
    }
    .contact .contact-form form input {
        font-size: 0.88rem;
        width: 84%;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
        border: none;
        border-radius: 4px;
    }
    .contact .contact-form form textarea {
        width: 84%;
        height: 150px;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
    }
    .contact .touch {
        width: 53%;
        height: fit-content;
        flex-direction: column;
        margin-bottom: -180px;
        padding: 0 10px;
    }
    .contact .touch div div a {
        font-size: 0.9rem;
    }
}

@media (max-width:450px) {
    .contact {
        margin-bottom: 250px;

    }
    .contact .contact-form {
        width: 240px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 30px 0;
    }
    .contact .contact-form h3 {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .contact .contact-form h2 {
        font-size: 1.25rem;  
    }
    .contact .contact-form form input[name="full-name"], .contact .contact-form form input[name="email"] {
        width: 31%;
    }
    .contact .contact-form form input[name="email"] {
        background:#1f1f1f;
        color:white;
        border:none;
        border-bottom: 2px solid gray;
        border-radius: 0;
    }
    .contact .contact-form form input {
        font-size: 0.75rem;
        width: 84%;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
        border: none;
        border-radius: 4px;
    }
    .contact .contact-form form textarea {
        width: 84%;
        height: 150px;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
    }
    .contact .touch {
        width: 53%;
        height: fit-content;
        flex-direction: column;
        margin-bottom: -200px;
        padding: 0 10px;
    }
    .contact .touch div div a {
        font-size: 0.9rem;
    }
    .contact .contact-form form input[name="submit"] {
        width: 70%;
        margin:20px 0 0 auto;
        display: block;
        font-weight: 500;
        font-size: 0.8rem;
        cursor: pointer;
        transition: background 220ms linear;
    }
}
@media (max-width:380px) {
    .contact .contact-form {
        width: 220px;
        height: 800px; 
        margin-left: 0px;
        margin-top: -100px;
        padding:70px 30px 0;
    }
    .contact .contact-form h3 {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .contact .contact-form h2 {
        font-size: 1.25rem;  
    }
    .contact .contact-form form input[name="full-name"], .contact .contact-form form input[name="email"] {
        width: 31%;
    }
    .contact .contact-form form input[name="email"] {
        background:#1f1f1f;
        color:white;
        border:none;
        border-bottom: 2px solid gray;
        border-radius: 0;
    }
    .contact .contact-form form input {
        font-size: 0.75rem;
        width: 84%;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
        border: none;
        border-radius: 4px;
    }
    .contact .contact-form form textarea {
        width: 84%;
        height: 150px;
        margin:10px 5px;
        padding:13px 13px;
        outline: none;
    }
    .contact .touch {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        margin-bottom: -200px;
        padding: 0 10px;
    }
    .contact .touch div div a {
        font-size: 0.9rem;
    }
    .contact .contact-form form input[name="submit"] {
        width: 80%;
        margin:20px 0 0 auto;
        display: block;
        font-weight: 500;
        font-size: 0.8rem;
        cursor: pointer;
        transition: background 220ms linear;
    }
}

/*----- Start Footer -----*/
#footer {
    width:100%;
    display:flex;
    flex-direction:row;
    background-color:#444141;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    position:relative;
    margin-top: 50px;
} 
#footer .title {
    background-color:rgb(85, 85, 85)
}
#footer .title #co {
    width:400px;
    display: flex;
    flex-direction: column;
    padding:30px 30px 30px 50px;
}
#footer .title #co img {
    width: 300px;
    margin:10px;
}
#footer .title #co p {
    font-size:1.4rem;
    font-weight:100;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title #co ul {
    display:flex;
    flex-direction:row;
}
#footer .title #co ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    border-radius:510px;
}
#footer .title #co ul li a i {
    font-size:1.9rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #d6d2d2;
}
#footer .title #co ul li a i:hover {
    color: #131212;
}
#nome {
    width: 100%;
    background-color: #131212;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:-10px;
    border-top: 2px solid rgb(173, 173, 173);
    padding:10px 0;
}
#nome p {
    color: rgb(194, 190, 190);
    font-size:1rem;
    font-family: sans-serif;
    margin-top: -10px;
}
#nome p a {
    font-size:1.2rem;
    color: rgba(255, 255, 255, 0.801);
    font-family: 'Yellowtail', cursive;
    letter-spacing: 0.5mm;
}

#footer .footer-container {
    width:970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin:60px auto 0;
}
#footer .about {
    width: 270px;
    height:200px;
    padding:0px 5px 10px 20px;
}
#footer .about h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .about ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .about ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .about ul li a span {
    transition:padding 300ms linear;
}
#footer .about ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .about ul li a i {
    font-size: 0.7rem;
}
#footer .about ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .about ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}

#footer .service {
    width: 250px;
    height:200px;
    padding:0px 5px 20px 20px;
}
#footer .service h4 {
    font-size:2rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .service ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .service ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .service ul li a span {
    transition:padding 300ms linear;
}
#footer .service ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .service ul li a i {
    font-size: 0.7rem;
}
#footer .service ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .service ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


#footer .other {
    width: 200px;
    height:200px;
    padding:0px 10px 20px 20px;
}
#footer .other h4 {
    font-size:1.9rem;
    font-weight:400;
    font-family: 'Norican', cursive;
    letter-spacing: 0.6mm;
    color: rgb(255, 255, 255);
    margin:10px 10px 10px 0;
    padding-left: 20px;
    border-left: 5px solid white;
}
#footer .other ul {
    display:flex;
    flex-direction:column;
    padding:10px;
}
#footer .other ul li a {
    display:block;
    text-decoration:none;
    font-size:1rem;
    font-family: monospace;
    letter-spacing: 0.3mm;
    color: rgb(194, 190, 190);
    padding:3px 0px;
    border-bottom:2px solid transparent;
}
#footer .other ul li a span {
    transition:padding 300ms linear;
}
#footer .other ul li a i {
    transition:padding 250ms linear 250ms, color 200ms linear 200ms;
}
#footer .other ul li a i {
    font-size: 0.7rem;
}
#footer .other ul li:hover a span {
    color: rgb(255, 255, 255);
    padding-left: 5px;
}
#footer .other ul li:hover a i {
    color: rgb(39, 139, 233);
    padding-left: 7px;
}


/*----- End Footer -----*/

@media (max-width:760px) {
    #footer {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #footer .title {
        width:100%;
        display: flex;
        flex-direction: column;
        padding:10px 0px 10px 0;
    }
    #footer .title #co {
        margin:0 auto;
    }
    #footer .title #co ul {
        margin:0 auto;
    }

}
@media (max-width:540px) {
    

    #footer .title #co {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 50px 10px 30px 20px;
    }
    

#footer .title p {
    font-size:1rem;
    font-weight:100;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3mm;
    color: rgb(255, 255, 255);
    margin:20px 10px 30px;
}
#footer .title ul {
    display:flex;
    flex-direction:row;
}
#footer .title ul li {
    display: block;
    text-decoration:none;
    text-align: center;
    width:45px;
    height:45px;
    margin:0 10px;
    border-radius:510px;
}
#footer .title ul li a i {
    font-size:1.4rem;
    transition:color 250ms linear,background 250ms linear;
    padding:11px;
    border-radius: 100px;
    color: #0f235a;
}
}


@media (max-width:420px) {
    #footer .title #co img{
        width:200px;
        margin:0 auto;
    }
    #nome p {
        font-size:0.9rem;
    }
    #nome p a {
        font-size:1.05rem;
    }
}
@media (max-width:290px) {

    #nome p {
        font-size:0.8rem;
    }
    #nome p a {
        font-size:0.95rem;
    }
    #footer .title p {
        font-size:0.85rem;
        font-weight:100;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.3mm;
        color: rgb(255, 255, 255);
        margin:20px 10px 30px;
    }
    #footer .title #co ul {
        padding:0;
    }

    #footer .title ul li {
        width:40px;
        height:40px;
        margin:0 10px;
    }
    #footer .title ul li a i {
        font-size:1.4rem;
        padding:10px;
    }
    
} 

/*----- End Footer -----*/




























@media (max-width:965px) {
    nav .logo {
        margin:0px 0vw 0 -0vw;
    }

}

@media (max-width:768px) {
    nav .logo img{
        width: 250px;
    }
}

@media (max-width:635px) {
    nav .logo img{
        width: 200px;
    }
}
@media (max-width:550px) {
    nav {
        flex-direction: column;
    }
}
